# Provenance: MODELED FROM DOCS (grounded=modeled-from-docs).
# Safaricom does not publish a downloadable first-party OpenAPI/Swagger document for the
# Daraja API. This specification was modeled by hand from the public Daraja developer
# documentation at https://developer.safaricom.co.ke/APIs (endpoints, request bodies, and
# hosts confirmed 2026-07-17). Production host https://api.safaricom.co.ke (HTTP 200);
# sandbox host https://sandbox.safaricom.co.ke. All monetary amounts are Kenyan Shillings (KES).
# Access tokens are minted from Basic-authenticated consumer key/secret and then presented as
# Bearer tokens. Privileged funds-movement operations (B2C/B2B/Reversal/Balance/Status) require
# a SecurityCredential: the initiator password encrypted with Safaricom's M-Pesa X.509 public
# certificate (RSA). Result/confirmation payloads are delivered asynchronously to caller-hosted
# HTTPS callback URLs (webhooks), not over WebSocket or SSE.
openapi: 3.0.3
info:
  title: M-Pesa Daraja API
  description: >-
    Safaricom Daraja REST APIs for the M-Pesa mobile-money platform in Kenya:
    authorization, M-Pesa Express (STK Push), C2B, B2C, B2B, B2B Express Checkout,
    transaction status, account balance, reversal, dynamic QR, tax remittance and
    standing orders (M-Pesa Ratiba). Modeled from public Daraja documentation.
  version: '1.0'
  termsOfService: https://developer.safaricom.co.ke/
  contact:
    name: Safaricom Daraja Support
    url: https://developer.safaricom.co.ke/
servers:
  - url: https://api.safaricom.co.ke
    description: Production
  - url: https://sandbox.safaricom.co.ke
    description: Sandbox
security:
  - bearerAuth: []
tags:
  - name: Authorization
  - name: M-Pesa Express
  - name: C2B
  - name: B2C
  - name: B2B
  - name: Transaction Status
  - name: Account Balance
  - name: Reversal
  - name: Dynamic QR
  - name: Tax Remittance
  - name: Standing Order
paths:
  /oauth/v1/generate:
    get:
      operationId: generateAccessToken
      tags:
        - Authorization
      summary: Generate an OAuth access token.
      description: >-
        Returns a short-lived (typically 3599s) OAuth access token. Authenticate with
        HTTP Basic using the app consumer key as username and consumer secret as password.
      security:
        - basicAuth: []
      parameters:
        - name: grant_type
          in: query
          required: true
          schema:
            type: string
            default: client_credentials
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
  /mpesa/stkpush/v1/processrequest:
    post:
      operationId: stkPush
      tags:
        - M-Pesa Express
      summary: Initiate an M-Pesa Express (STK Push) payment prompt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/STKPushRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/STKPushResponse'
  /mpesa/stkpushquery/v1/query:
    post:
      operationId: stkPushQuery
      tags:
        - M-Pesa Express
      summary: Query the status of an STK Push request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/STKQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /mpesa/c2b/v1/registerurl:
    post:
      operationId: c2bRegisterURL
      tags:
        - C2B
      summary: Register C2B validation and confirmation callback URLs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/C2BRegisterURLRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /mpesa/c2b/v1/simulate:
    post:
      operationId: c2bSimulate
      tags:
        - C2B
      summary: Simulate an inbound C2B payment (sandbox only).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/C2BSimulateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /mpesa/b2c/v3/paymentrequest:
    post:
      operationId: b2cPaymentRequest
      tags:
        - B2C
      summary: Disburse funds from a business shortcode to a customer wallet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/B2CRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAckResponse'
  /mpesa/b2b/v1/paymentrequest:
    post:
      operationId: b2bPaymentRequest
      tags:
        - B2B
      summary: Move funds between two business shortcodes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/B2BRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAckResponse'
  /v1/ussdpush/get-msisdn:
    post:
      operationId: b2bExpressCheckout
      tags:
        - B2B
      summary: Trigger a B2B Express Checkout USSD push to a till operator.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /mpesa/transactionstatus/v1/query:
    post:
      operationId: transactionStatus
      tags:
        - Transaction Status
      summary: Query the status of an M-Pesa transaction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionStatusRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAckResponse'
  /mpesa/accountbalance/v1/query:
    post:
      operationId: accountBalance
      tags:
        - Account Balance
      summary: Query the balance of a business shortcode.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountBalanceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAckResponse'
  /mpesa/reversal/v1/request:
    post:
      operationId: reversal
      tags:
        - Reversal
      summary: Reverse an M-Pesa transaction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReversalRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAckResponse'
  /mpesa/qrcode/v1/generate:
    post:
      operationId: dynamicQR
      tags:
        - Dynamic QR
      summary: Generate a dynamic M-Pesa QR code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicQRRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /mpesa/b2b/v1/remittax:
    post:
      operationId: taxRemittance
      tags:
        - Tax Remittance
      summary: Remit taxes to the Kenya Revenue Authority (KRA).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxRemittanceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAckResponse'
  /standingorder/v1/createStandingOrderExternal:
    post:
      operationId: createStandingOrder
      tags:
        - Standing Order
      summary: Create an M-Pesa Ratiba external standing order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token from /oauth/v1/generate
    basicAuth:
      type: http
      scheme: basic
  schemas:
    AccessTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: string
          example: '3599'
    STKPushRequest:
      type: object
      required:
        - BusinessShortCode
        - Password
        - Timestamp
        - TransactionType
        - Amount
        - PartyA
        - PartyB
        - PhoneNumber
        - CallBackURL
        - AccountReference
        - TransactionDesc
      properties:
        BusinessShortCode:
          type: string
          example: '174379'
        Password:
          type: string
          description: Base64(Shortcode + Passkey + Timestamp).
        Timestamp:
          type: string
          example: '20260717120000'
        TransactionType:
          type: string
          enum:
            - CustomerPayBillOnline
            - CustomerBuyGoodsOnline
        Amount:
          type: integer
          description: Amount in KES.
          example: 100
        PartyA:
          type: string
          description: Payer MSISDN (2547XXXXXXXX).
        PartyB:
          type: string
        PhoneNumber:
          type: string
        CallBackURL:
          type: string
          format: uri
        AccountReference:
          type: string
        TransactionDesc:
          type: string
    STKPushResponse:
      type: object
      properties:
        MerchantRequestID:
          type: string
        CheckoutRequestID:
          type: string
        ResponseCode:
          type: string
        ResponseDescription:
          type: string
        CustomerMessage:
          type: string
    STKQueryRequest:
      type: object
      required:
        - BusinessShortCode
        - Password
        - Timestamp
        - CheckoutRequestID
      properties:
        BusinessShortCode:
          type: string
        Password:
          type: string
        Timestamp:
          type: string
        CheckoutRequestID:
          type: string
    C2BRegisterURLRequest:
      type: object
      required:
        - ShortCode
        - ResponseType
        - ConfirmationURL
        - ValidationURL
      properties:
        ShortCode:
          type: string
        ResponseType:
          type: string
          enum:
            - Completed
            - Cancelled
        ConfirmationURL:
          type: string
          format: uri
        ValidationURL:
          type: string
          format: uri
    C2BSimulateRequest:
      type: object
      properties:
        ShortCode:
          type: string
        CommandID:
          type: string
          enum:
            - CustomerPayBillOnline
            - CustomerBuyGoodsOnline
        Amount:
          type: integer
        Msisdn:
          type: string
        BillRefNumber:
          type: string
    B2CRequest:
      type: object
      required:
        - InitiatorName
        - SecurityCredential
        - CommandID
        - Amount
        - PartyA
        - PartyB
        - QueueTimeOutURL
        - ResultURL
      properties:
        OriginatorConversationID:
          type: string
        InitiatorName:
          type: string
        SecurityCredential:
          type: string
          description: Initiator password encrypted with the M-Pesa public X.509 certificate (RSA).
        CommandID:
          type: string
          enum:
            - SalaryPayment
            - BusinessPayment
            - PromotionPayment
        Amount:
          type: integer
        PartyA:
          type: string
          description: Business shortcode.
        PartyB:
          type: string
          description: Customer MSISDN.
        Remarks:
          type: string
        QueueTimeOutURL:
          type: string
          format: uri
        ResultURL:
          type: string
          format: uri
        Occasion:
          type: string
    B2BRequest:
      type: object
      required:
        - Initiator
        - SecurityCredential
        - CommandID
        - Amount
        - PartyA
        - PartyB
        - QueueTimeOutURL
        - ResultURL
      properties:
        Initiator:
          type: string
        SecurityCredential:
          type: string
        CommandID:
          type: string
          enum:
            - BusinessPayBill
            - BusinessBuyGoods
            - MerchantToMerchantTransfer
        SenderIdentifierType:
          type: string
        RecieverIdentifierType:
          type: string
        Amount:
          type: integer
        PartyA:
          type: string
        PartyB:
          type: string
        AccountReference:
          type: string
        Remarks:
          type: string
        QueueTimeOutURL:
          type: string
          format: uri
        ResultURL:
          type: string
          format: uri
    TransactionStatusRequest:
      type: object
      properties:
        Initiator:
          type: string
        SecurityCredential:
          type: string
        CommandID:
          type: string
          default: TransactionStatusQuery
        TransactionID:
          type: string
        PartyA:
          type: string
        IdentifierType:
          type: string
        ResultURL:
          type: string
          format: uri
        QueueTimeOutURL:
          type: string
          format: uri
        Remarks:
          type: string
        Occasion:
          type: string
    AccountBalanceRequest:
      type: object
      properties:
        Initiator:
          type: string
        SecurityCredential:
          type: string
        CommandID:
          type: string
          default: AccountBalance
        PartyA:
          type: string
        IdentifierType:
          type: string
        Remarks:
          type: string
        QueueTimeOutURL:
          type: string
          format: uri
        ResultURL:
          type: string
          format: uri
    ReversalRequest:
      type: object
      properties:
        Initiator:
          type: string
        SecurityCredential:
          type: string
        CommandID:
          type: string
          default: TransactionReversal
        TransactionID:
          type: string
        Amount:
          type: integer
        ReceiverParty:
          type: string
        RecieverIdentifierType:
          type: string
        ResultURL:
          type: string
          format: uri
        QueueTimeOutURL:
          type: string
          format: uri
        Remarks:
          type: string
        Occasion:
          type: string
    DynamicQRRequest:
      type: object
      properties:
        MerchantName:
          type: string
        RefNo:
          type: string
        Amount:
          type: integer
        TrxCode:
          type: string
          description: BG=Buy Goods, PB=Paybill, WA=Withdraw, SB=Send to Business, SM=Send Money.
        CPI:
          type: string
          description: Credit Party Identifier (till/paybill/agent number).
        Size:
          type: string
    TaxRemittanceRequest:
      type: object
      properties:
        Initiator:
          type: string
        SecurityCredential:
          type: string
        CommandID:
          type: string
          default: PayTaxToKRA
        SenderIdentifierType:
          type: string
        RecieverIdentifierType:
          type: string
        Amount:
          type: integer
        PartyA:
          type: string
        PartyB:
          type: string
          description: KRA receiver shortcode.
        AccountReference:
          type: string
          description: Payment Registration Number (PRN) from KRA.
        Remarks:
          type: string
        QueueTimeOutURL:
          type: string
          format: uri
        ResultURL:
          type: string
          format: uri
    AsyncAckResponse:
      type: object
      description: Synchronous acknowledgement; the real result is POSTed to ResultURL.
      properties:
        OriginatorConversationID:
          type: string
        ConversationID:
          type: string
        ResponseCode:
          type: string
        ResponseDescription:
          type: string
